@import "../../sass/variables";
@import "../../sass/breakpoints";

.Rooms {
  height: 100%;
  display: flex;
  align-items: center;

  .invalidPasswordText {
    font-size: 0.8rem;
    color: $primary;
    font-weight: 500;
    margin-bottom: 0;
  }

  .roomsTitleRow {
    align-items: baseline;

    .fa {
      color: $paragraph;
      font-size: 1.1rem;
    }

    .fa:hover {
      cursor: pointer;
    }
  }

  .row {
    width: 100%;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  th {
    font-size: 1.1rem;
    color: $headline;
  }

  td {
    border-width: 1px 0 1px 0;
    border-color: $stroke;
    border-style: solid;
    font-size: 1.1rem;
    color: $paragraph;
  }

  .fa-lock {
    margin-right: 0.5rem;
  }

  .joinButton {
    transition: 0.3s ease;
  }

  .joinButton:hover {
    cursor: pointer;
    color: $headline;
  }

  td,
  th {
    padding: 0.75rem 0 0.75rem 0;
  }

  label {
    font-size: 1rem;
    width:100%;
  }

  input {
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .Button {
    margin-top: 0.5rem;
  }

  #roomPrivateInput{
    margin-right: 0.5rem;
  }

  .roomsColumn {
    background-color: $backgroundLight;
    padding: 2.5rem;
    border-radius: 3px;
  }

  .createRoomColumn {
    background-color: $backgroundLight;
    padding: 2.5rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  @include media("<=collapse") {
    display: inherit;
    margin-top: 2.5rem;
    .createRoomColumn {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    th {
      font-size: 0.9rem;
    }

    td {
      border-width: 1px 0 1px 0;
      border-color: $stroke;
      border-style: solid;
      font-size: 0.9rem;
    }
  }

}
